.tab {
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.34);
    border-radius: 4px;
    margin: auto;
    width: 800px;
    margin-top: -40px;
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 4px solid #2c67b5;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.imgtab{
    height: 70px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.tablinks{
    min-width: 200px;
}

.cta{
    background-color: white;
    height: 60px;
    padding: 15px;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 200px;
    font-size: 20px;
    border-radius: 40px;
    color: #2c67b5;
}
cta:hover{
    text-decoration: none;
}

.tmain{
    font-size: 120px;
    line-height: 90px;
    margin-top: 120px;
}

body{
    height: 100%;    
}

.main1{
    width: 100%;
    float: right;
}

.header{
    height: 480px;
    padding: 50px;
    background: linear-gradient(15deg, #29abe2, #2e3192);
    color: white;
    width: 100%;
    float: left;
    text-align: center;
}