<!DOCTYPE html>
<html>
<head>
	<title>DocAuth</title>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  	<link href="//fonts.googleapis.com/css?family=Alike|Roboto:900" rel="stylesheet" type="text/css">
  	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
</head>
<body>	
	<div class="container-fluid" style="min-height:100%">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info alert-dismiss fade in" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">
                            &times;</span></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
    </div>
</body>
</html>
