<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
	    <form method="post" enctype="multipart/form-data" style="background-color: #666666 !important;min-height:120px !important;">
            <input type="file" id="file" name="file" style="padding: 10px !important;margin:10px !important;color: white !important;">
	    <div style="color:white !important;">
	    </div>
            <p style="text-align: right; margin-top: 20px;">
                <input type="submit" value="Upload" class="btn btn-lg btn-primary" style="margin: 10px !important;">
            </p>
        </form>
	
                   </div>
           </div>
       </div>
          </body>
</html>
